body {
    margin: 0;
}

.header {
    max-height: 120px;
}

.header_block {
    width: auto;
    height: 50px;
    text-align: center;
}

.header_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 24px;

}

.micro {
    height: 200px;
    width: 340px;
    background-color: aqua;
    text-align: center;
    margin-left: 150px;
    margin-top: 20px;
}

.micro_image {
    padding-top: 35px;
    height: 120px;
    width: 120px;
}

.main {
    display: block;
    height: 120px;
}